.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >header {
        display: block;
        font-size: 130%;
        margin: 1em 0 .5em 0;
    }

    button {
        margin-left: 1em;
        font-size: 100%;
        background-color: darkseagreen;
    }

    .tab-info {
        font-size: 90%;
    }
}

.welcome {
    h1 {
        margin: 0;
    }

    .start-data {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        gap: 4px 4px;
    }

    >div {
        margin: .5em 0;
    }

    .start-data {
        label {
            text-align: right;
        }

        input {
            width: 8em;
        }

        select {
            width: 4em;
        }
    }

    button {
        background-color: darkseagreen;
        color: black;
        padding: .25em;

        &:disabled {
            opacity: .5;
        }
    }
}

.menu.view {
    .beer-list {
        list-style-type: none;
        padding: 0;
        cursor: pointer;

        li {
            display: flex;
            flex-direction: row;
            text-align: left;
            margin: .5em 0;
            max-width: 40em;

            header {
                color: cyan;
            }

            img {
                display: inline-block;
                width: 120px;
                height: 120px;
                border: 1px solid gray;
                margin-right: 1em;
            }

            border: 3px solid darkmagenta;
            border-radius: .25em;
            padding: .25em .5em;

            .description {
                font-size: .8em;
            }

            .info {
                color: whitesmoke;
                font-size: .65em;
            }
        }
    }
}

.tab.view {
    .orders-list {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        gap: 4px 4px;
        background-color: rgba(255, 255, 255, .2);
        padding: .5em;
        margin-top: 1em;
        border: 3px solid darkmagenta;
        border-radius: .25em;

        .descr {
            text-align: left;
        }
        .total {
            color: cyan;
            text-align: right;
            &.due {
                border-top: 1px solid cyan;
                color: magenta;
            }
        }
    }

    .actions {
        margin-top: 1em;
    }
}